*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button {

    background-color: deepskyblue;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 20x;
    cursor: pointer;
    color: floralwhite;
    font-family: "Arial Black";
    width: 250px;
    border: 1px solid white;
}

.button:hover{
    background-color: lightskyblue;
    border: none;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 20x;
    cursor: pointer;
    color: floralwhite;
    font-family: "Arial Black";
    width: 250px;
    border: 1px solid white;

}

.quote{
    display: block;
    width: 80%;
    margin: 0 auto;
    align-content: center;
    height : 45%;
    text-align: center;
}

.tekstabout{
    display: block;
    width: 80%;
    margin: 0 auto;
    align-content: center;
    height : 45%;
    text-align: center;
}

.head{
    display: block;
    width: 80%;
    margin: 0 auto;
    align-content: center;
    height : 45%;
    text-align: center;
}

.tekstabout{
    align-content: center;
}

.guarantee{
    display: block;
    width: 50%;
    margin: 0 auto;
    align-content: center;
    height : 45%;
}

.contactinfo{

    width: 300px;
    margin-left: 50px   ;
    font-family: Arial;
    color: black;
    font-size: 15px;
}

.contact{
    display: inline-block;
    text-align: left;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 15px;
    margin-bottom: 50px;
}

/* Create three equal columns that floats next to each other */
.double-column {
    float: left;
    width: 66.67%;
    padding: 15px;
    margin-bottom: 50px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}

.contact .contact-form-group {
    width: 100%;
    clear:both;

}

.contact .contact-form-group .contact-form-label {
    width: 40%;
    float:left;
}

.contact .contact-form-group .contact-form-control {
    width: 50%;
    float:left;
    resize: vertical;
}