*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.information{
    border: black solid;
}
.verzendmethode{
    border: black solid;
  }

.nextstep {
    text-align: right;
}

.total {
    border: black solid;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 100%;
    padding: 3px;
}

/* Clear floats after the columns */
.row:after {
    width: 100%;
    content: "";
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:1500px) {
    .column {
        width: 500px;
        display: table;
        clear: both;
    }
}

.contact{
    float: left;
    width: 66.67%;
    padding: 15px;
    margin-bottom: 50px;
}

