.container2{
    margin-left: 50px;
}

.orderlist{
    background-color: white;
    width: 300px;
    height: 250px;
    max-height: 250px;
    overflow: auto;
    border: 2px solid black;
    color: black;
    padding-left: 1px;
    padding-right: 1px;


}
