*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigationbar{
    width: 250px;
}


.button {
    background-color: deepskyblue;
    border: none;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 20x;
    cursor: pointer;
    color: floralwhite;
    font-family: "Arial Black";
    width: 250px;
    border: 1px solid white;
}

.button:hover{
    background-color: lightskyblue;
    border: none;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 20x;
    cursor: pointer;
    color: floralwhite;
    font-family: "Arial Black";
    width: 250px;
    border: 1px solid white;

}

.producten{
    display: block;
    width: 80%;
    margin: 0 auto;
    align-content: center;
    height : 45%;
    text-align: center;
}

.text3{
    font-family: Aharoni;
    font-size: 30px;
    color:black;
    margin-right: 500px;
}