*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigationbar{
    width: 250px;
}

.button {
    background-color: deepskyblue;
    border: none;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;

    font-size: 16px;
    cursor: pointer;
    color: floralwhite;
    font-family: "Arial Black";
    width: 250px;
    border: 1px solid white;
}

.button:hover{
    background-color: lightskyblue;
    border: none;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    color: floralwhite;
    font-family: "Arial Black";
    width: 250px;
    border: 1px solid white;

}

.producten{
    float: left;
    width: 180px;
    margin: 20px auto;
    height : 45%;
    font-family: Arial;
    text-align: center;
}

.text3{
    font-family: Aharoni;
    font-size: 30px;
    color:black;
    margin-right: 500px;
}

.productfoto{
    width: 100%;
    float: left;
}

.test {
    float: right;
    display: flex;
    flex-direction: column;
    margin: -65px 30px 70px 30px;
    height: 350px;
}

.productnaam{
    width: 260px;
    align-content: center;

}

.test6{
    margin: 20px;
}

.paginatie{
    float: right;
    padding-right: 50px;
    margin-right: 30%;
    margin-bottom: 50px;
}
.pagination{
    font-size: 20px;
}

.th {
    padding-left: 5% !important;
}

.results {
    width: calc(100% - 250px);
    float: left;
}

.table.table-bordered{
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 1em;
    border: 0px;
    empty-cells: hide;
}

.browsecell{
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    empty-cells: hide;
}

.browsecell:hover{
    box-shadow: 0px 0px 2px 2px lightgrey;
}

.resultskayleigh{
    text-align: center;
}

.allProducts{
    width: 250px;
}

.tekstVooronderProduct{
    font-family: Arial;
    color: #3f3f3f;
}

.prijsonderfoto{
    color: dodgerblue;
    font-size: 22px;
}

.kortingprijs{
    color: indianred;
    margin-left: 3px;
    font-size: 16px;
}

.standaardprijs{
    color: dodgerblue;
    font-size: 22px;
    margin-left: 3px;
}

.specialdeal{
    font-size: 20px;
    font-family: Bahnschrift;
    color: #3f3f3f;
}

.availablenow{
    font-size: 16px;
}

.prijsje{
    color: #2491ff;
    font-size: 22px;
}

.availablenow{

}

