*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-bottom: 100px;
}

.btn{
    right: 50%;
    background: dodgerblue;
    color: white;
}

.keerterug{
    width: 50px;
    margin-top: 40px;
    margin-left: 2px;
    color: white;
}
.keerterug:hover{
    color: #f1f1f1;
}

.KEERTERUGNU:hover{
    color: white;
}

.foto{
    float: left;
    width: 480px;
    height: 410px;
    margin-top: 30px;
    margin-bottom: 50px;

}
.naambeschrijvingprijsnogopvoorraad{
    float: right;
    flex-direction: column;
}

.naam{

    padding-top: 60px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    width:600px;

}

.beschrijving{
    margin-left: 35px;
    margin-top: -20px;
    width: 600px;

}

.H4{
    margin: 0px;
}

.paynow{
    margin-left: 30px;
    font-size: 20px;
}

.prijs{
    color: dodgerblue;
    margin-left: 33px;
    font-size: 30px;
}

.oudeprijs{
    color: indianred;
    margin-left: 5px;
    font-size: 30px;
}

.safeoff{
    margin-left: 30px;
}

.aantallen{
    margin-left: 40px;

}



.beschrijving2{
    font-size:22px;
    margin-left: 30px;

}


#toevoegenaanwinkelmand{
    margin-left: 30px;
    margin-right: 20px;

}


#aantalx{
    width: 50px;

}


.nogopvoorraad{
    margin-top: -20px;

    margin-left:30px;
    font-size: 16px;

}

.noitem{
    font-size: 20px;
    float:right;
    padding-right: 450px;
}

.bezorgdatum{
    margin-top: -27px;
    margin-left:120px;
    font-size: 16px;
    color: limegreen;
}


/*tags*/

/*Tech tags*/
.Techtags{
    display: inline-block;
    height: 24px;
    line-height: 24px;
    position: relative;
    margin: 0 10px 8px 25px;
    padding: 0 10px 0 12px;
    background: #ffa900;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    color: #fff;
    font-size: 12px;
    font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    font-weight: bold;
}

.Techtags:before {
    content: "";
    position: absolute;
    top:0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent #ffa900 transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;
}

.Techtags:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 1px;
    float: left;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
    box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
}
/*Tech tags*/


/*RC tags*/
.RCtags{
    display: inline-block;
    height: 24px;
    line-height: 24px;
    position: relative;
    margin: 0 10px 8px 25px;
    padding: 0 10px 0 12px;
    background: #a800c6;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    color: #fff;
    font-size: 12px;
    font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    font-weight: bold;
}

.RCtags:before {
    content: "";
    position: absolute;
    top:0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent #a800c6 transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;
}

.RCtags:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 1px;
    float: left;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    -webkit-box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
    box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
}
/*RC tags*/


/*Toy tags*/
.Toytags{
    display: inline-block;
    height: 24px;
    line-height: 24px;
    position: relative;
    margin: 0 10px 8px 25px;
    padding: 0 10px 0 12px;
    background: #19c107;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    color: #fff;
    font-size: 12px;
    font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    font-weight: bold;
}

.Toytags:before {
    content: "";
    position: absolute;
    top:0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent #19c107 transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;
}

.Toytags:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 1px;
    float: left;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
    box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
}
/*Toy tags*/


/*Lifestyle tags*/
.Lifestyletags{
    display: inline-block;
    height: 24px;
    line-height: 24px;
    position: relative;
    margin: 0 10px 8px 25px;
    padding: 0 10px 0 12px;
    background: #726f6c;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    color: #fff;
    font-size: 12px;
    font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    font-weight: bold;
}

.Lifestyletags:before {
    content: "";
    position: absolute;
    top:0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent #726f6c transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;
}

.Lifestyletags:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 1px;
    float: left;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
    box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
}
/*Lifestyle tags*/


/*Other tags*/
.tags{
    display: inline-block;
    height: 24px;
    line-height: 24px;
    position: relative;
    margin: 0 10px 8px 25px;
    padding: 0 10px 0 12px;
    background: #726f6c;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    color: #fff;
    font-size: 12px;
    font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    font-weight: bold;
}

.tags:before {
    content: "";
    position: absolute;
    top:0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent #726f6c transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;
}

.tags:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 1px;
    float: left;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
    box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
}
/*Other tags*/

/*tags*/

/*xx*/

.slider-holder
{
    width: 480px;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}

.image-holder
{
    width: 3360px;
    height: 480px;
    clear: both;
    position: relative;

    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.slider-image
{
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 480px;
    height: 480px;
}

#slider-image-1:target ~ .image-holder
{
    left: 0px;
}

#slider-image-2:target ~ .image-holder
{
    left: -480px;
}

#slider-image-3:target ~ .image-holder
{
    left: -960px;
}

#slider-image-4:target ~ .image-holder
{
    left: -1440px;
}

#slider-image-5:target ~ .image-holder
{
    left: -1920px;
}

#slider-video:target ~ .image-holder
{
    left: -2400px;
}

.button-holder
{
    position: relative;
    top: -20px;
}

.slider-change
{
    border: #303030 double medium;
    display: inline-block;
    height: 14px;
    width: 14px;
    border-radius: 7px;
    margin: 2px;
    background-color: #a0a0a0;
    opacity:  0.5;
}