*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.btn{

    background: dodgerblue;
}



.keerterug{
    width: 50px;
    margin-top: 40px;
    margin-left:150px;
    color: white;
}
.keerterug:hover{
    color: #f1f1f1;
}

.KEERTERUGNU:hover{
    color: white;
}

.foto{
    float: left;
    width: 480px;
    height: 410px;
    margin-top: 30px;
    margin-bottom: 50px;

}
.naambeschrijvingprijsnogopvoorraad{
    float: right;
    flex-direction: column;
}

.naam{

    padding-top: 60px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    width:600px;

}

.beschrijving{
    margin-left: 35px;
    margin-top: -20px;
    width: 600px;

}

.prijs{

    margin-top: 20px;
    margin-left: 40px;
    font-size: 30px;
}

.   aantallen{
    margin-left: 40px;

}


.beschrijving2{
    font-size:22px;
    margin-left: 30px;

}


#toevoegenaanwinkelmand{
    margin-left: 30px;
    margin-right: 20px;

}


#aantalx{
    width: 50px;

}


.nogopvoorraad{
    margin-top: -20px;

    margin-left:50px;
    font-size: 16px;

}

.noitem{
    font-size: 20px;
    float:right;
    padding-right: 450px;
}
.x

